@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(150deg, #273869 3%, #3960a6 98%);
  line-height: 1.6;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: 100px auto;
  padding: 0 20px;
}