<script>
    //import { createEventDispatcher } from "svelte";
    import { FeedbackStore } from "../store"
    import Card from "./Card.svelte"
    export let item 

   // const dispatch = createEventDispatcher()

    const handleDelete = (itemId) => {
        //dispatch('delete-feedback',itemId)
        FeedbackStore.update((currentFeedback) => {
            return currentFeedback.filter(item => item.id != itemId)
        })
    }

    const style = item.rating > 8 ? 'green-display' : item.rating >= 5 ? 'yellow-display' : 'red-display' 
</script>

<Card>
    <div class="num-display {style} ">{item.rating}</div>
    <button class="close" on:click="{() => handleDelete(item.id)}">X</button>
    <p class="text-display">{item.text}</p>
</Card>

<style>
    .num-display {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 50px;
        height: 50px;
        /* background: #ff6a95; */
        color: #fff;
        border: 1px #eee solid;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        font-size: 19px;
    }
    .green-display {
        background: green;
    }

    .red-display {
        background: rgb(172, 16, 16);
    }

    .yellow-display {
        background: rgb(211, 211, 17);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        background: none;
        border: none;
    }

</style>