<script>
    import { FeedbackStore } from "../store"
    import { fade, scale} from "svelte/transition"
    import FeedbackItem from "./FeedbackItem.svelte"
    //import { onMount, onDestroy } from "svelte";

    // Can we use from store
    // export let feedback = []

    // let feedback = []

    // const unsubscribe = FeedbackStore.subscribe((data)=> feedback = data)

    // onMount(() => {
    //     console.log('Mounted component')
    // })

    // onDestroy(() => {
    //     unsubscribe()
    // })

    // console.log(feedback)

</script>


{#each $FeedbackStore as fb (fb.id)}
<div in:scale out:fade={{ duration:500 }}>
    <FeedbackItem item={fb}  />

</div>

    

{/each}