<script>
	let firstName = "Roshan";
	let lastName = "Adhikari";
	let color = 'blue';
	let showText = false;

	let users = [
		{
			id: '1',
			name: 'Roshan'
		},
		{
			id: '2',
			name: 'John'
		},
		{
			id: '3',
			name: 'Sara'
		},
	]

	// Reactive value
	$: name = firstName + ' ' + lastName

	const toggle = ()=> {
		color = color === 'blue' ? 'red' : 'blue';
		showText = !showText
		users = [
			...users, {
				id: '4',
				name: 'Jane'
			}
		]
	}

</script>

<main>
	<h1 style="color: {color}">Hello {name}!</h1>

	{#if showText}
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>

	{:else}
	<p>Text is hidden</p>
	{/if}

	<!-- <button on:click="{() => color = 'purple'}"> Click Me</button> -->
	<button on:click="{toggle}"> Click Me</button>

	{#each users as user (user.id)}
		<h3>{user.id}: {user.name}</h3>
	{/each}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>